In [1]:
import pandas as pd
import numpy as np
import sqlite3

Give the team, the year and the game #, get the goalie statistics...

<h3>SQLite Handling functions</h3>
<p>Use Pandas to import dataframe into SQLlite</p>

In [2]:
DB = "..\\Data\\hockey_data_goalies.db"

#SQL Handle functions
def run_query(q):
    with sqlite3.connect(DB) as conn:
        x = pd.read_sql(q,conn)
    return x
   
#send command
def run_command(c):
    with sqlite3.connect(DB) as conn:
        conn.isolation_level = None
        return conn.execute(c)
    
#show tables
def show_tables():
    r = """
    Select name,type
    FROM sqlite_master
    WHERE type in ("table","view");
        """
    return run_query(r)

In [14]:
team_value = 'ANA'
year_value = 2016
game_num = 56 # for the team

#find the game data
q = ("""WITH goalies as (SELECT *
        FROM team_log 
        WHERE team_id=\"{0}\" 
        AND (CAST(SUBSTR(date_game,1,4) AS FLOAT)+CAST(SUBSTR(date_game,6,7) AS FLOAT)/12) > {1}
        AND (CAST(SUBSTR(date_game,1,4) AS FLOAT)+CAST(SUBSTR(date_game,6,7) AS FLOAT)/12) < {2}
        AND game_number={3}
        )
        SELECT *
        FROM goalies""".format(team_value,int(year_value) + .66,int(year_value)+1.66,game_num))
game_date = run_query(q)['date_game'].values[0]
game_date

'2017-02-11'

In [33]:
#the goalies who had played with anaheim that year so far
game_date_days = int(game_date[:4])*365+int(game_date[5:7])*12+int(game_date[8:10])
q = ("""WITH goalies as (SELECT player_id
        FROM player_log 
        WHERE team_id=\"{0}\" 
        AND (CAST(SUBSTR(date_game,1,4) AS FLOAT) + CAST(SUBSTR(date_game,6,7) AS FLOAT)/12) > {1}
        AND (CAST(SUBSTR(date_game,1,4) AS INT)*365 + CAST(SUBSTR(date_game,6,7) AS INT)*12+CAST(SUBSTR(date_game,9,10) AS INT))  <= {2}
        )
        SELECT *
        FROM goalies g""".format(team_value,int(year_value) + .66,game_date_days))
goalies = run_query(q)['player_id'].unique()