In [6]:
import pandas as pd
import numpy as np
import sqlite3

Give the team, the year and the game #, get the team stats including:
<ul>
    <li>Record to date for the team and their opponent</li>
    <li>Outcomes of last 5 contests - inlcuding previous year</li>
    <li>Outcomes of last 5 contests for each team</li>
</ul>

<h3>SQLite Handling functions</h3>
<p>Use Pandas to import dataframe into SQLlite</p>

In [7]:
DB = "..\\Data\\hockey_data_goalies.db"

#SQL Handle functions
def run_query(q):
    with sqlite3.connect(DB) as conn:
        x = pd.read_sql(q,conn)
    return x
   
#send command
def run_command(c):
    with sqlite3.connect(DB) as conn:
        conn.isolation_level = None
        return conn.execute(c)
    
#show tables
def show_tables():
    r = """
    Select name,type
    FROM sqlite_master
    WHERE type in ("table","view");
        """
    return run_query(r)

Statistic functions

In [37]:
def sos_calc(year,game_no,nme,wind=[0]):
    """
        CALCULATES THE SOS FOR THE TEAM entered faced before a given date
    INPUT:
        year: the current season (YYYY-YYYY+1)
        gamedate: the game_no for the current game previous games are [0-game_no-1]
        nme: the team abbr to calculate the SOS for
        RETURN:
        sos: the computed sos statistics sum(no_times_faced*(goalsfor-goalsagainst)/no_games)/no_games
    """
    
    sos = 0
    
    #get the details on the game
    q = ("""SELECT * 
            FROM team_log 
            WHERE team_id=\"{0}\"
            AND (CAST(SUBSTR(date_game,1,4) AS FLOAT)+CAST(SUBSTR(date_game,6,7) AS FLOAT)/12) > {1}
            AND (CAST(SUBSTR(date_game,1,4) AS FLOAT)+CAST(SUBSTR(date_game,6,7) AS FLOAT)/12) < {2}
            """.format(nme,int(year) + .66,int(year)+1.66))
    games = run_query(q)
    games['date_game'] = games['date_game'].astype('datetime64')
    
    gamedate = games.at[game_no,'date_game']

    if game_no>0:
        #list of teams faced to date (and number of times)
        if len(wind) ==1:
            teams_faced = games.loc[games['date_game']<gamedate,'opp_name'].value_counts()
        else:
            teams_faced = games.loc[wind,'opp_name'].value_counts()
       
        #get list of games played in the league that season up until the gameday
        q = ("""SELECT * 
                FROM team_log 
                WHERE (CAST(SUBSTR(date_game,1,4) AS FLOAT)+CAST(SUBSTR(date_game,6,7) AS FLOAT)/12) > {1}
                AND (CAST(SUBSTR(date_game,1,4) AS FLOAT)+CAST(SUBSTR(date_game,6,7) AS FLOAT)/12) < {2}
                """.format(nme,int(year) + .66,int(year)+1.66))
        temp_games = run_query(q)
        temp_games['date_game'] = temp_games['date_game'].astype('datetime64')

        #calculate statistics for each team
        goals = temp_games[temp_games['date_game']<gamedate].groupby('team_id').agg([sum,'count'])

        diff = (goals['goals']['sum']-goals['opp_goals']['sum'])/goals['goals']['count'] #calculates metric for all teams to date

        for eachteam in teams_faced.index:
            #get team_abbr

            q = '''SELECT team_abbr FROM team_list WHERE team_name=\"{0}\" AND CAST(SUBSTR(years_active,6,9) AS INT)>{1}'''.format(eachteam,int(year))
            nme = (run_query(q)['team_abbr'].values)[0]
            sos = sos + teams_faced[eachteam]*diff[nme]
        if len(wind) == 1:
            return sos/game_no
        else:
            return sos/wind.sum()
    else:
        return 0

In [8]:
#inputs
team_value = 'ANA'
year_value = 2016
game_num = 56 # for the team

<h2>Get record to date</h2>

In [31]:
#find the game date
q = ("""SELECT *
        FROM team_log 
        WHERE team_id=\"{0}\" 
        AND (CAST(SUBSTR(date_game,1,4) AS FLOAT)+CAST(SUBSTR(date_game,6,7) AS FLOAT)/12) > {1}
        AND (CAST(SUBSTR(date_game,1,4) AS FLOAT)+CAST(SUBSTR(date_game,6,7) AS FLOAT)/12) < {2}
        AND game_number={3}""".format(team_value,int(year_value) + .66,int(year_value)+1.66,game_num))
game_selected = run_query(q)
game_date = game_selected['date_game'].values[0]
opp_name =  game_selected['opp_name'].values[0]
q = """SELECT * 
       FROM team_list 
       WHERE team_name=\"{0}\" 
       AND CAST(SUBSTR(years_active,6,9) as INT)>{1}""".format(opp_name,year_value)
opp_abbr = run_query(q).at[0,'team_abbr']
print(game_date,opp_name,opp_abbr)

#now get records
#for hometeam
q = ("""SELECT *
        FROM team_log 
        WHERE team_id=\"{0}\" 
        AND (CAST(SUBSTR(date_game,1,4) AS FLOAT)+CAST(SUBSTR(date_game,6,7) AS FLOAT)/12) > {1}
        AND (CAST(SUBSTR(date_game,1,4) AS FLOAT)+CAST(SUBSTR(date_game,6,7) AS FLOAT)/12) < {2}
        AND game_number<{3}""".format(team_value,int(year_value) + .66,int(year_value)+1.66,game_num))
home_season = run_query(q)

2017-02-11 Washington Capitals WSH

In [34]:
home_season['game_outcome'].value_counts()

W    29
L    27
Name: game_outcome, dtype: int64

In [36]:
sos_calc['ANA',game_date,]

,game_id,team_id,date_game,game_number,game_location,opp_name,goals,opp_goals,game_outcome,overtimes,shots,shots_against
0,ANA20161013,ANA,2016-10-13,0,@,Dallas Stars,2,4,L,None,35,20
1,ANA20161015,ANA,2016-10-15,1,@,Pittsburgh Penguins,2,3,L,None,36,45
2,ANA20161016,ANA,2016-10-16,2,@,New York Islanders,2,3,L,OT,26,30
3,ANA20161018,ANA,2016-10-18,3,@,New Jersey Devils,1,2,L,None,24,28
4,ANA20161020,ANA,2016-10-20,4,@,Philadelphia Flyers,3,2,W,None,26,22
5,ANA20161023,ANA,2016-10-23,5,None,Vancouver Canucks,4,2,W,None,37,19
6,ANA20161025,ANA,2016-10-25,6,@,San Jose Sharks,1,2,L,OT,20,36
7,ANA20161026,ANA,2016-10-26,7,None,Nashville Predators,6,1,W,None,26,29
8,ANA20161028,ANA,2016-10-28,8,None,Columbus Blue Jackets,0,4,L,None,35,37
9,ANA20161101,ANA,2016-11-01,9,@,Los Angeles Kings,4,0,W,None,21,30
10,ANA20161102,ANA,2016-11-02,10,None,Pittsburgh Penguins,1,5,L,None,33,34
11,ANA20161104,ANA,2016-11-04,11,None,Arizona Coyotes,5,1,W,None,33,22
12,ANA20161106,ANA,2016-11-06,12,None,Calgary Flames,4,1,W,None,21,26
13,ANA20161109,ANA,2016-11-09,13,@,Columbus Blue Jackets,2,3,L,OT,32,18
14,ANA20161110,ANA,2016-11-10,14,@,Carolina Hurricanes,4,2,W,None,27,30
15,ANA20161112,ANA,2016-11-12,15,@,Nashville Predators,0,5,L,None,27,27
16,ANA20161115,ANA,2016-11-15,16,None,Edmonton Oilers,4,1,W,None,27,34
17,ANA20161117,ANA,2016-11-17,17,None,New Jersey Devils,3,2,W,None,23,29
18,ANA20161120,ANA,2016-11-20,18,None,Los Angeles Kings,2,3,L,None,30,29
19,ANA20161122,ANA,2016-11-22,19,None,New York Islanders,2,3,L,SO,41,35
20,ANA20161125,ANA,2016-11-25,20,None,Chicago Blackhawks,2,3,L,None,36,25
21,ANA20161126,ANA,2016-11-26,21,@,San Jose Sharks,3,2,W,None,26,23
22,ANA20161129,ANA,2016-11-29,22,None,Montreal Canadiens,2,1,W,None,38,40
23,ANA20161201,ANA,2016-12-01,23,@,Vancouver Canucks,3,1,W,None,24,28
24,ANA20161203,ANA,2016-12-03,24,@,Edmonton Oilers,2,3,L,OT,33,32
25,ANA20161204,ANA,2016-12-04,25,@,Calgary Flames,3,8,L,None,33,25
26,ANA20161207,ANA,2016-12-07,26,None,Carolina Hurricanes,6,5,W,SO,38,34
27,ANA20161209,ANA,2016-12-09,27,None,San Jose Sharks,3,2,W,None,32,24
28,ANA20161211,ANA,2016-12-11,28,None,Ottawa Senators,5,1,W,None,32,22
29,ANA20161213,ANA,2016-12-13,29,@,Dallas Stars,2,6,L,None,36,27
30,ANA20161215,ANA,2016-12-15,30,@,Boston Bruins,4,3,W,None,27,34
31,ANA20161217,ANA,2016-12-17,31,@,Detroit Red Wings,4,6,L,None,25,32
32,ANA20161219,ANA,2016-12-19,32,@,Toronto Maple Leafs,3,2,W,None,28,35
33,ANA20161220,ANA,2016-12-20,33,@,Montreal Canadiens,1,5,L,None,13,34
34,ANA20161222,ANA,2016-12-22,34,@,Ottawa Senators,1,2,L,OT,25,18
35,ANA20161227,ANA,2016-12-27,35,None,San Jose Sharks,2,3,L,OT,36,25
36,ANA20161229,ANA,2016-12-29,36,@,Calgary Flames,3,1,W,None,25,32
37,ANA20161230,ANA,2016-12-30,37,@,Vancouver Canucks,2,3,L,OT,26,26
38,ANA20170101,ANA,2017-01-01,38,None,Philadelphia Flyers,4,3,W,SO,25,55
39,ANA20170104,ANA,2017-01-04,39,None,Detroit Red Wings,2,0,W,None,24,23
40,ANA20170106,ANA,2017-01-06,40,None,Arizona Coyotes,3,2,W,OT,35,23
41,ANA20170108,ANA,2017-01-08,41,None,Minnesota Wild,1,2,L,None,24,36
42,ANA20170110,ANA,2017-01-10,42,None,Dallas Stars,2,0,W,None,38,34
43,ANA20170112,ANA,2017-01-12,43,@,Colorado Avalanche,4,1,W,None,32,34
44,ANA20170114,ANA,2017-01-14,44,@,Arizona Coyotes,3,0,W,None,23,26
45,ANA20170115,ANA,2017-01-15,45,None,St. Louis Blues,1,2,L,OT,23,25
46,ANA20170117,ANA,2017-01-17,46,None,Tampa Bay Lightning,2,1,W,OT,21,28
47,ANA20170119,ANA,2017-01-19,47,None,Colorado Avalanche,2,1,W,None,36,22
48,ANA20170121,ANA,2017-01-21,48,@,Minnesota Wild,3,5,L,None,29,25
49,ANA20170123,ANA,2017-01-23,49,@,Winnipeg Jets,3,2,W,None,27,33
50,ANA20170125,ANA,2017-01-25,50,None,Edmonton Oilers,0,4,L,None,26,23
51,ANA20170131,ANA,2017-01-31,51,None,Colorado Avalanche,5,1,W,None,31,29
52,ANA20170203,ANA,2017-02-03,52,@,Florida Panthers,1,2,L,None,23,37
53,ANA20170204,ANA,2017-02-04,53,@,Tampa Bay Lightning,2,3,L,SO,16,37
54,ANA20170207,ANA,2017-02-07,54,@,New York Rangers,1,4,L,None,44,20
55,ANA20170209,ANA,2017-02-09,55,@,Buffalo Sabres,5,2,W,None,44,26