<h2>Gets Team Location and Timezone</h2>
<p>put together a list of the teams with the following information<ul><li>team_abbr</li><li>team_name</li><li>years_active</li><li>city</li><li>latitude</li><li>longitude</li><li>timezone</li></ul></p>

In [1]:
import pandas as pd
import numpy as np
import requests as r
import re
from bs4 import BeautifulSoup as bs

pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 1000)

In [2]:
#load gamelog list

In [6]:
teamDataFrame = pd.read_csv('team_gamelog_list.txt','\t')
teamDataFrame.drop(columns=['Unnamed: 0'],inplace=True)
teamDataFrame

      Season          team_name team_abbr                         link
0    2019-20      Anaheim Ducks       ANA  teams/ANA/2020_gamelog.html
1    2018-19      Anaheim Ducks       ANA  teams/ANA/2019_gamelog.html
2    2017-18      Anaheim Ducks       ANA  teams/ANA/2018_gamelog.html
3    2016-17      Anaheim Ducks       ANA  teams/ANA/2017_gamelog.html
4    2015-16      Anaheim Ducks       ANA  teams/ANA/2016_gamelog.html
..       ...                ...       ...                          ...
820  2003-04  Atlanta Thrashers       ATL  teams/ATL/2004_gamelog.html
821  2002-03  Atlanta Thrashers       ATL  teams/ATL/2003_gamelog.html
822  2001-02  Atlanta Thrashers       ATL  teams/ATL/2002_gamelog.html
823  2000-01  Atlanta Thrashers       ATL  teams/ATL/2001_gamelog.html
824  1999-00  Atlanta Thrashers       ATL  teams/ATL/2000_gamelog.html

[825 rows x 4 columns]

In [12]:
#list the unique abbreviations:
abbrs = teamDataFrame['team_abbr'].unique()

In [35]:
teams = pd.DataFrame(columns=['team_abbr','team_name','years_active','city','latitude','longitude','timezone'])
for r,abr in enumerate(abbrs):
    #input abr
    teams.loc[r,'team_abbr'] = abr
    #input team name
    teams.loc[r,'team_name'] = teamDataFrame[teamDataFrame['team_abbr']==abr]['team_name'].unique()[0]
    #input years active
    ya = teamDataFrame[teamDataFrame['team_abbr']==abr]['Season'].str[:4].astype(int).describe()
    teams.loc[r,'years_active'] = str(int(ya['min']))+'-'+str(int(ya['max'])+1)

In [37]:
#fill in the rest by hand
teams.to_csv('team_list.csv',',')