<h1>SQLite Database Creator</h1>
<p>This notebook aggreates a range of data collected for the take-a-seat project and converts it into an SQLite database based on the following schema: <img src="schema.png" alt="Schema for Database"></p>
<p>The data is converted into csvs, then added into the SQLite .db</p>

In [1]:
import pandas as pd
import numpy as np
import os
from datetime import datetime as dt, timedelta
from dateutil.relativedelta import *
import re
from matplotlib import pyplot as plt
import sqlite3
import os

<h3>SQLite Handling functions</h3>
<p>Use Pandas to import dataframe into SQLlite</p>

In [2]:
DB = "hockey_data_goalies.db"

#SQL Handle functions
def run_query(q):
    with sqlite3.connect(DB) as conn:
        x = pd.read_sql(q,conn)
    return x
   
#send command
def run_command(c):
    with sqlite3.connect(DB) as conn:
        conn.isolation_level = None
        return conn.execute(c)
    
#show tables
def show_tables():
    r = """
    Select name,type
    FROM sqlite_master
    WHERE type in ("table","view");
        """
    return run_query(r)

<h2>Import and Clean up csvs</h2>
    <p><ul>
        <li><b>team_list</b>: This csv gets piped straight into its own table</li>
        <li><b>player_list</b>: Only count those players who have played more than 113 games (median no)</li>
</ul><p>

In [3]:
#import team list data
teams = pd.read_csv('team_list.csv',encoding = "ISO-8859-1")
teams['longitude'] = teams['longitude'].astype(float)
teams.drop(columns=['index'],inplace=True)
teams = teams.set_index('team_abbr')
teams.head()

,team_name,years_active,city,latitude,longitude,timezone
team_abbr,,,,,,
ANA,Anaheim Ducks,2006-2020,Anaheim,33.808,-117.876,-8
MDA,Mighty Ducks of Anaheim,1993-2006,Anaheim,33.808,-117.876,-8
ARI,Arizona Coyotes,2014-2020,Glendale,33.532,-112.261,-7
PHX,Phoenix Coyotes,1996-2014,Glendale,33.532,-112.261,-7
WIN,Winnipeg Jets,1990-1996,Winnipeg,49.893,-97.144,-6

<h2>Wipe Database first</h2>
<p>Since we're building the db from scratch here</p>

In [4]:
tables = show_tables() #gets the tables in the db
with sqlite3.connect(DB) as conn:
    for row,data in tables.iterrows():
        run_command("DROP TABLE IF EXISTS {}".format(tables.loc[row,'name'])) #clear DB of existing tables

<h3>Enter Team Data</h3>

In [5]:
#make a new table with the appropriate keys
c1 = """
    CREATE TABLE IF NOT EXISTS team_list (
    team_abbr TEXT PRIMARY KEY,
    team_name TEXT,
    years_active TEXT,
    city TEXT,
    latitude REAL,
    longitude REAL,
    timezone INTEGER
);
"""
run_command(c1)

#inject data into the table
teams.to_sql('team_list',con=sqlite3.connect(DB), if_exists='append')

<h2>Enter Player Data</h2>

In [6]:
#import player list data
players = pd.read_csv('nhlplayerlist_goalieswhwtg.txt','\t')
players.drop(columns=['Unnamed: 0','link','height','weight'],inplace=True)
players = players.set_index('unique_id')
#sort based ons whether or not there is injury data
players = players[(players['position']=='G')&(players['total_games']>10)].copy()

In [7]:
#make a new table with the appropriate keys #drop position as we're only dealing with Goalies
c1 = """
    CREATE TABLE IF NOT EXISTS player_list (
    unique_id TEXT PRIMARY KEY,
    player TEXT,
    year_start INTEGER,
    year_finish INTEGER,
    height_cm INTEGER,
    weight_kg INTEGER,
    total_games INTEGER
);
"""

run_command(c1)

#inject data into the table
players[['player','year_start','year_finish','height_cm','weight_kg','total_games']].to_sql('player_list',con=sqlite3.connect(DB), if_exists='append')

<h2>Enter Player Salaries</h2>

In [8]:
#make a new table with the appropriate keys #drop position as we're only dealing with Goalies
c1 = """
    CREATE TABLE IF NOT EXISTS player_salaries(
    unique_hash TEXT PRIMARY KEY,
    player_id TEXT,
    season INTEGER,
    Salary INTEGER,
    FOREIGN KEY (player_id) REFERENCES player_list(unique_id)
);
"""

run_command(c1)

In [9]:
#import player salary data
for files in os.listdir('C:\\Users\\jesse\\Documents\\Projects\\takeaseat\\Data\\salaries\\'):
    salary = pd.read_csv('salaries\\'+files)
    salary.rename(columns={'Unnamed: 0':'player_id'},inplace=True)
    salary['player_id'] = files[:-4]
    salary['season'] = salary['Season'].str[:4]
    salary['unique_hash'] = salary['player_id']+salary['Season']
    salary = salary.set_index('unique_hash')
    #inject data into the table
    salary[['player_id','season','Salary']].to_sql('player_salaries',con=sqlite3.connect(DB), if_exists='append')

<h2>Enter Game Logs by Team</h2>

In [10]:
#make a new table with the appropriate keys #drop position as we're only dealing with Goalies
c1 = """
    CREATE TABLE IF NOT EXISTS team_log (
    season_id TEXT PRIMARY KEY,
    team_id TEXT,
    date_game TEXT,
    game_number INT,
    game_location BLOB,
    opp_name TEXT,
    goals INTEGER,
    opp_goals INTEGER,
    game_outcome TEXT,
    overtimes TEXT,
    shots INTEGER,
    shots_against INTEGER,
    pen_min INTEGER,
    FOREIGN KEY (team_id) REFERENCES team_list(team_id)
);
"""

run_command(c1)

In [11]:
#import player list into a dataframe
for files in os.listdir('C:\\Users\\jesse\\Documents\\Projects\\takeaseat\\Data\\team_gamelogs\\'):
    season_log = pd.read_csv('team_gamelogs\\'+files,'\t')
    season_log['team_id'] = files[:3]
    season_log['season_id'] = season_log['team_id']+season_log['date_game'].astype('datetime64').map(lambda x:x.strftime('%Y%m%d'))
    season_log.rename(columns={'Unnamed: 0':'game_number'},inplace=True)
    season_log = season_log.set_index('season_id')
    season_log[['team_id','date_game','game_number','game_location', 'opp_name', 'goals','opp_goals','game_outcome','overtimes','shots','shots_against','pen_min']].to_sql('team_log',con=sqlite3.connect(DB), if_exists='append')

<h2>Player Logs</h2>
Now add goalie player logs with the analysed injury reports

In [12]:
def injury_match(pdf,inj_dat):
    """
        INPUTS: pdf - the player log to analyse
                inj_data - the injury log to analyse for that player
        OUTPUTS: the injury dataframe to analyse
    """
    for i,i_day in inj_dat.iterrows():
        injury_reported = i_day['Date']

        #find minimum number of dates between game and injury report
        dateoffset = pdf['date_game'].map(lambda x:np.abs(x-injury_reported))
        #closest entry in the player logs
        closest_entry = pdf[dateoffset==dateoffset.min()].iloc[[0]]

        #if the injury date happened before the closest game... 
        if closest_entry['date_game'].values[0]>injury_reported:
            closest_entry = pdf.loc[closest_entry['date_game'].index-1]

        #game before the injury game
        pregame = pdf.loc[closest_entry['date_game'].index-1]
        #make sure it makes sense aka did it happen recently...
        if (((pregame['date_game'].map(lambda x:np.abs(x-injury_reported).days))<15).values):
            pdf.loc[pregame.index,'injured'] = 1   
            #print('Last Game: %s, Injury Report %s'%(pregame['date_game'].values,i_day['Date']))
    return pdf

In [13]:
#make a new table with the appropriate keys
c1 = """
    CREATE TABLE IF NOT EXISTS player_log(
    gamelog_id TEXT PRIMARY KEY,
    player_id TEXT,
    date_game TEXT,
    game_season TEXT,
    age REAL,
    team_id TEXT,
    game_location TEXT,
    opp_id TEXT,
    game_result TEXT,
    goals_against INT,
    shots_against INT,
    saves INT,
    save_pct INT,
    shutouts INT,
    pen_min INT,
    time_on_ice TEXT,
    pre_inj INT,
    injured INT,
    FOREIGN KEY (player_id) REFERENCES player_list(unique_id),
    FOREIGN KEY (team_id) REFERENCES team_list(team_id),
    FOREIGN KEY (opp_id) REFERENCES team_list(team_id)
);"""

run_command(c1)
show_tables()

              name   type
0        team_list  table
1      player_list  table
2  player_salaries  table
3         team_log  table
4       player_log  table

In [14]:
#for each player in the database
players = run_query('Select * FROM player_list')

#the player list is already filtered for goalies...
for i,player in players.iterrows():
    
    #load player log
    plog = pd.read_csv('..\\Data\\player_gamelogs\\'+player['unique_id']+'.txt')
    plog.drop(columns=['Unnamed: 0'],inplace=True)
    plog['player_id'] = player['unique_id']
    plog['date_game'] = plog['date_game'].astype('datetime64') #convert to datetime
    plog['age'] = (plog['age'].str.extract(r'(\d{2})-').astype(int)+plog['age'].str.extract(r'-(\d{3})').astype(int)/365).round(3)
    plog['injured'] = 0
    #load the injury report
    try:
        inj= pd.read_csv('..\\Data\\player_injurylist\\'+player['unique_id']+'.txt','\t')
        try:
            inj.drop(columns=['Unnamed: 0'],inplace=True)
            inj.columns = inj.columns.str.strip()
            inj['Date'] = inj['Date'].astype('datetime64') #convert to datetime
            injured = inj[inj['Relinquished']!=' '] #all the times put onto the injured list
        except  AssertionError as error:
            print(error)
        
        #now note injuries
        player_logs = injury_match(plog,injured)
        print(player['unique_id'],inj.shape[0])
    except:
        print('Error: %s'% player['unique_id'])
        player_logs = plog.copy()
        #no reported injury
        pass
    
    #create unique gamelog id
    player_logs['gamelog_id'] = player_logs['player_id']+player_logs['date_game'].map(lambda x:x.strftime('%Y%m%d'))
    player_logs['date_game'] = player_logs['date_game'].astype(str)
    player_logs = player_logs.reset_index(drop=True)
    #now sum injuries
    player_logs['pre_inj'] = 0
    #track any previous injuries
    for i in range(1,player_logs.shape[0]):
        player_logs.loc[i,'pre_inj'] = player_logs.loc[i-1,'pre_inj'] + player_logs.loc[i-1,'injured'] 
    player_logs = player_logs.set_index('gamelog_id')
    #inject into SQL database
    player_logs[['player_id','date_game','game_season','age','team_id','game_location','opp_id',
                 'game_result','goals_against','shots_against','saves','save_pct','shutouts',
                'pen_min','time_on_ice','pre_inj','injured']].to_sql('player_log',con=sqlite3.connect(DB), if_exists='append')

Error: aebisda01
allenja01 4
anderfr01 27
andercr01 37
aubinje01 6
auldal01 3
bacasja01 5
bachmri01 2
backsni01 35
Error: bailesc01
Error: balesmi01
barrato01 13
beaupdo01 5
Error: beaurst01
belfoed01 8
Error: bergeje01
bernijo01 26
berrare01 5
Error: berthda01
Error: berubje02
Error: besteal01
bierkza01 2
billicr01 5
Error: binnijo01
bironma01 5
bishobe01 45
blackda01 3
blackma01 5
Error: bluejo01
bobrose01 30
bouchbr01 21
Error: brathfr01
brodema01 22
brossla01 1
Error: brustba01
bryzgil01 15
budajpe01 4
burkese01 14
Error: campbja01
Error: careyji01
caronse01 3
Error: caseyjo01
Error: cassifr01
cechmro01 4
Error: chabofr01
Error: charpse01
cheveti01 1
clemmsc01 8
cloutda01 12
Error: cloutja01
condomi01 1
conklty01 5
Error: copleph01
coreaja01 2
cousima01 1
crawfco01 25
dafoeby01 4
danisya01 1
darlisc01 4
Error: delguma01
Error: deliaco01
Error: dellaa01
Error: demkoth01
denisma01 9
Error: drouije01
Error: desmica01
Error: desropa01
dipieri01 46
Error: divisre01
dominlo01 9
Error: drapeto01
driedch01 3
Error: dubiewa01
dubnyde01 16
dunhami01 9
elliobr01 19
ellisda01 11
emeryra01 26
enrotjh01 1
ersbeer01 7
eschero01 13
Error: essenbo01
Error: fankhsc01
fasthvi01 16
fernama01 14
Error: fichaer01
fisetst01 12
Error: fitzpma01
Error: flahewa01
fleurma01 26
forsban01 3
Error: fosteno01
Error: fountmi01
francpa01 3
fuhrgr01 1
Error: gagejo02
gambltr01 1
Error: garnemi01
garonma01 13
Error: georgal01
gerbema01 5
Error: gibsoch01
gibsojo02 30
gigueje01 37
Error: gillijo01
Error: glassje01
Error: gordosc01
gossema01 1
Error: grahajo01
greisth01 9
grubaph01 11
gustajo01 35
hackeje01 5
hackema01 5
halakja01 33
hammoan01 15
Error: hanlogl01
hardijo01 32
hartca01 5
hasekdo01 14
haywabr01 2
Error: healygl01
Error: hebergu01
hedbejo01 4
helleco01 2
Error: hextaro01
Error: hillad01
hillejo01 21
Error: hirscco01
hnilimi01 3
hodsoke01 3
Error: hogbema01
holmqjo01 2
holtbbr01 5
howarja02 44
Error: hrivnji01
Error: hrudeke01
huetcr01 13
hurmeja01 5
hutchmi01 5
huttoca01 10
Error: ingpe01
Error: irbear01
Error: irvinle01
Error: jablopa01
jarrytr01 3
johnsbr02 22
johnsch02 7
jonesma02 7
josepcu01 2
karlshe01 3
khabini01 32
khudoan01 9
kiddtr01 1
kinkake01 6
kiprumi01 7
Error: knickri01
Error: kochadi01
kolziol01 12
korpijo01 6
Error: koskimi01
kuempda01 26
labarja01 7
Error: labbeje01
Error: lachebl01
lacked01 7
Error: lagacma01
lalimpa01 14
Error: langksc01
Error: lawsona01
leclapa01 36
legacma01 19
lehnero01 32
lehtoka01 25
leighmi01 10
Error: lemelre01
Error: lenevda01
lindban01 7
Error: lindgch01
Error: liutmi01
lundqhe01 27
luongro01 36
lyonal01 4
macdojo01 7
Error: madelda01
Error: malarcl01
Error: maracno01
markkju01 5
marksja02 15
masonch02 9
Error: masonst01
mazanma01 2
mcelhcu01 15
Error: mckenmi01
mcleaki01 2
Error: mclenja01
merzlel01 3
Error: millegr01
millery01 42
Error: montesa01
montoal01 26
moogan01 1
Error: morrimi01
Error: mossty01
mrazepe01 10
Error: munroad01
murrama02 21
muzzaja01 1
Error: myllyja01
nabokev01 33
neuvimi01 53
niemian02 8
niittan01 18
nilssan01 9
noronmi01 3
norrefr01 3
nurmipa01 3
oneilmi01 4
Error: ortiojo01
osgooch01 24
Error: ouellma01
Error: parenri01
Error: passmst01
pavelon01 17
Error: peetepe01
peterju01 2
Error: peterca01
Error: pickaca01
Error: pietrfr01
potvife01 1
poulike01 2
priceca01 35
Error: prusema01
puppada01 3
quickjo01 15
raantan01 33
Error: racican01
Error: racinbr01
ramoka01 9
ranfobi01 4
rasktu01 24
raycran01 7
Error: reaugda01
Error: reeseje01
reimeja01 20
rhodeda01 6
richtmi01 3
Error: riendvi01
rinnepe01 20
rittida01 2
rolosdw01 5
Error: roussdo01
Error: roypa01
Error: sabouda01
Error: saloto01
samsoil01 4
sanfocu01 21
sarosju01 4
Error: sauveph01
schneco01 25
schwaco01 2
scrivbe01 3
shestig01 6
shielst01 5
Error: shtalmi01
Error: sidorpe01
Error: skudrpe01
smithmi01 44
snowga01 6
Error: soderto01
sparkga01 5
Error: staloal01
Error: staubro01
Error: stephto01
stolaan01 4
storrja01 7
subbama01 11
Error: svedbni01
Error: tabarri01
Error: takkoka01
talboca01 5
Error: tallaro01
Error: tannejo01
Error: tellqmi01
Error: terrech01
theodjo01 30
thibajo01 5
thomati01 10
toivoha01 3
Error: tokardu01
toskave01 25
Error: trefian01
tugnuro01 8
turcoma01 13
turekro01 3
ullmali01 6
Error: valiqst01
Error: vanbijo01
varlasi01 44
vasilan02 5
vernomi01 1
vokouto01 29
Error: waiteji01
wakalda01 2
Error: wamslri01
wardca01 31
Error: wedgesc01
weekeke01 14
Error: weeksst01
Error: whitmka01
Error: wilkide01
Error: wreggke01
Error: yorkal01
Error: youngwe01
zatkoje01 4

In [15]:
run_query("""
WITH inj_list AS(SELECT player_id,COUNT(gamelog_id) numGames,SUM(injured) inCount
FROM player_log
GROUP BY player_id)
SELECT player_id,numGames,inCount
FROM inj_list
WHERE inCount>0""").sum()

player_id    allenja01andercr01anderfr01auldal01bacasja01ba...
numGames                                                 55271
inCount                                                    896
dtype: object

In [16]:
run_query("""
SELECT *
FROM player_salaries""")

           unique_hash  player_id  season   Salary
0     aebisda012000-01  aebisda01    2000   350000
1     aebisda012001-02  aebisda01    2001   450000
2     aebisda012002-03  aebisda01    2002   500000
3     aebisda012003-04  aebisda01    2003   550000
4     aebisda012005-06  aebisda01    2005  1900000
...                ...        ...     ...      ...
2126  youngwe011993-94  youngwe01    1993   413609
2127  youngwe011994-95  youngwe01    1994   214286
2128  zatkoje012007-08  zatkoje01    2007   635000
2129  zatkoje012008-09  zatkoje01    2008   725000
2130  zatkoje012009-10  zatkoje01    2009   725000

[2131 rows x 4 columns]