In [1]:
import pandas as pd
import numpy as np
import sqlite3 


DB = '..\\Data\\hockey_datamvp.db'   #location of database

#SQL Handle functions
def run_query(q):
    with sqlite3.connect(DB) as conn:
        x = pd.read_sql(q,conn)
    return x

In [57]:
q = """select years_active from team_list WHERE team_abbr=\"{}\"""".format("BOS")
season = run_query(q).iloc[0,0]
seasons = []
for i in np.arange(int(season[:4]),int(season[-4:])):
    if i == 2004:
        pass
    else:
        seasons.append({'label':(str(i)+'-'+str(i+1)),'value':(str(i+1))})
seasons

[{'label': '1990-1991', 'value': '1991'},
 {'label': '1991-1992', 'value': '1992'},
 {'label': '1992-1993', 'value': '1993'},
 {'label': '1993-1994', 'value': '1994'},
 {'label': '1994-1995', 'value': '1995'},
 {'label': '1995-1996', 'value': '1996'},
 {'label': '1996-1997', 'value': '1997'},
 {'label': '1997-1998', 'value': '1998'},
 {'label': '1998-1999', 'value': '1999'},
 {'label': '1999-2000', 'value': '2000'},
 {'label': '2000-2001', 'value': '2001'},
 {'label': '2001-2002', 'value': '2002'},
 {'label': '2002-2003', 'value': '2003'},
 {'label': '2003-2004', 'value': '2004'},
 {'label': '2005-2006', 'value': '2006'},
 {'label': '2006-2007', 'value': '2007'},
 {'label': '2007-2008', 'value': '2008'},
 {'label': '2008-2009', 'value': '2009'},
 {'label': '2009-2010', 'value': '2010'},
 {'label': '2010-2011', 'value': '2011'},
 {'label': '2011-2012', 'value': '2012'},
 {'label': '2012-2013', 'value': '2013'},
 {'label': '2013-2014', 'value': '2014'},
 {'label': '2014-2015', 'value': '2015'},
 {'label': '2015-2016', 'value': '2016'},
 {'label': '2016-2017', 'value': '2017'},
 {'label': '2017-2018', 'value': '2018'},
 {'label': '2018-2019', 'value': '2019'},
 {'label': '2019-2020', 'value': '2020'}]

In [5]:
#all the players from that season
q = """WITH roster AS (SELECT player_id FROM player_log 
                            WHERE team_id=\"%s\" 
                            AND (CAST(SUBSTR(date_game,1,4) AS FLOAT)+CAST(SUBSTR(date_game,6,7) AS FLOAT)/12) > %f
                            AND (CAST(SUBSTR(date_game,1,4) AS FLOAT)+CAST(SUBSTR(date_game,6,7) AS FLOAT)/12) < %f
                            GROUP BY player_id)
            SELECT pl.player, r.player_id
            FROM roster r
            LEFT JOIN player_list pl ON pl.unique_id=r.player_id"""%('BOS',1998.66,1999.66)
print(q)
roster = run_query(q)
for i,row in roster.iterrows():
    print(row['player'],row['player_id'])

WITH roster AS (SELECT player_id FROM player_log
                            WHERE team_id="BOS"
                            AND (CAST(SUBSTR(date_game,1,4) AS FLOAT)+CAST(SUBSTR(date_game,6,7) AS FLOAT)/12) > 1998.660000
                            AND (CAST(SUBSTR(date_game,1,4) AS FLOAT)+CAST(SUBSTR(date_game,6,7) AS FLOAT)/12) < 1999.660000
                            GROUP BY player_id)
            SELECT pl.player, r.player_id
            FROM roster r
            LEFT JOIN player_list pl ON pl.unique_id=r.player_id
Jason Allison allisja02
P.J. Axelsson axelspj01
Shawn Bates batessh01
Ken Baumgartner baumgke01
Ken Belanger belanke01
Ray Bourque bourqra01
Anson Carter cartean01
Byron Dafoe dafoeby01
Rob DiMaio dimairo01
Ted Donato donatte01
Dave Ellett elletda01
Hal Gill gillha01
Jonathan Girard girarjo01
Steve Heinze heinzst01
Dmitri Khristich khrisdm01
Antti Laaksonen laaksan01
Grant Ledyard ledyagr01
Kyle McLaren mclarky01
Eric Nickulas nickuer01
Randy Robitaille robitra01
Sergei Samsonov samsose01
Don Sweeney sweendo01
Chris Taylor tayloch01
Tim Taylor tayloti01
Joe Thornton thornjo01
Mattias Timander timanma01
Darren Van Impe vanimda01
Dennis Vaske vaskede01
Landon Wilson wilsola02

In [16]:
q = """WITH roster AS (SELECT player_id FROM player_log
                            WHERE team_id="BOS"
                            AND (CAST(SUBSTR(date_game,1,4) AS FLOAT)+CAST(SUBSTR(date_game,6,7) AS FLOAT)/12) > 1994.66                            GROUP BY player_id)
            SELECT pl.player,r.player_id
            FROM roster r
            LEFT JOIN player_list pl ON pl.unique_id=r.player_id"""
run_query(q)

              player  player_id
0       Noel Acciari  acciano01
1     Andrew Alberts  alberan01
2      Jason Allison  allisja02
3    Dave Andreychuk  andreda01
4          Alex Auld   auldal01
..               ...        ...
248       Jason York   yorkja01
249      Rob Zamuner  zamunro01
250       Greg Zanon  zanongr01
251     Alex Zhamnov  zhamnal01
252       Rick Zombo  zombori01

[253 rows x 2 columns]

In [22]:
#given team year and player select games 
q = """SELECT * 
        FROM player_log 
        WHERE player_id=\"%s\"
        AND team_id=\"%s\"
        AND (CAST(SUBSTR(date_game,1,4) AS FLOAT)+CAST(SUBSTR(date_game,6,7) AS FLOAT)/12) > %f
        AND (CAST(SUBSTR(date_game,1,4) AS FLOAT)+CAST(SUBSTR(date_game,6,7) AS FLOAT)/12) < %f
        """%('andreda01',"NJD",1998.66,1999.66)
games = run_query(q)
dates = games['date_game'].str.extract(r'\d{4}-(\d{2}-\d{2})')[0].values
markz = dict(zip(games.index,dates))
print(markz)

{0: '10-10', 1: '10-14', 2: '10-16', 3: '10-22', 4: '10-24', 5: '10-28', 6: '10-29', 7: '10-31', 8: '11-03', 9: '11-07', 10: '11-22', 11: '11-25', 12: '11-26', 13: '11-28', 14: '12-01', 15: '12-04', 16: '12-05', 17: '12-08', 18: '12-10', 19: '12-12', 20: '12-16', 21: '12-18', 22: '12-19', 23: '12-23', 24: '12-26', 25: '12-28', 26: '12-30', 27: '01-02', 28: '01-05', 29: '02-20', 30: '02-22', 31: '02-25', 32: '03-03', 33: '03-05', 34: '03-07', 35: '03-09', 36: '03-15', 37: '03-17', 38: '03-20', 39: '03-23', 40: '03-25', 41: '03-28', 42: '03-31', 43: '04-03', 44: '04-04', 45: '04-06', 46: '04-08', 47: '04-10', 48: '04-12', 49: '04-14', 50: '04-16', 51: '04-17'}

In [23]:
dates = games['date_game'].str.extract(r'\d{4}-(\d{2}-\d{2})')[0].values